<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.shp.board.dao.BoardDao">
  
  <resultMap type="board" id="boardMap">
    <id column="board_id" property="no"/>
    <result column="rownum" property="rowNo"/>
    <result column="titl" property="title"/>
    <result column="conts" property="contents"/>
    <result column="cdt" property="createdDate"/>
    <result column="udt" property="updateDate"/>
    <result column="vw_cnt" property="viewCount"/>
    <result column="usr" property="user"/>
    <result column="pwd" property="password"/>
    <result column="cmt_cnt" property="commentCount"/>
    <result column="atch_file_cnt" property="atachedFileCount"/>
    <result column="is_del" property="isDelete"/>
  </resultMap>
  
  <sql id="select1">
    select 
      board_id, 
      conts, 
      cdt, 
      vw_cnt 
    from 
      bow_board
  </sql>
  
  <!-- 리스트 -->
  <select id="findAll" resultMap="boardMap" parameterType="map">
    select
      board_id,
      @rownum:=@rownum+1 as rownum,
      titl,
      cdt,
      vw_cnt,
      usr,
      is_del
    from 
      bow_board,
      (select @rownum:=0) TMP
    <where>
      <if test="keyword != null">
        <bind name="pattern1" value="'%' + keyword + '%'"/>
        titl like #{pattern1}
        or conts like #{pattern1}
      </if>
    </where>
    order by 
      cdt desc, rownum desc
    <if test="size != null and rowNo != null">
      limit #{rowNo}, #{size}
    </if>
  </select>
  
  <!-- 상세 -->
  <select id="findByNo" resultMap="boardMap" parameterType="int">
    select
      board_id,
      titl,
      conts,
      cdt,
      vw_cnt,
      usr,
      cmt_cnt,
      atch_file_cnt,
      is_del
    from 
      bow_board
    where 
      board_id = #{value}
  </select>
  
  <!-- 조회수 증가 -->
  <update id="increaseCount" parameterType="int">
    update bow_board 
    set 
      vw_cnt = vw_cnt + 1 
    where board_id = #{value}
  </update>
  
  <!-- 생성 -->
  <insert id="insert" parameterType="board">
    insert into bow_board(
    titl,
    conts,
    usr,
    pwd
    ) 
    values(
    #{title},
    #{contents},
    #{user},
    password(#{password})
    )
  </insert>
  
  <!-- 수정 -->
  <update id="update" parameterType="board">
    update bow_board 
    set 
      titl = #{title},
      conts = #{contents} 
    where board_id = #{no}
  </update>
  
  <!-- 삭제 -->
  <delete id="delete" parameterType="int">
    delete from bow_board 
    where board_id = #{no}
  </delete>

  <!-- 전체글 개수 -->
  <select id="countAll" resultType="int" parameterType="string">
    select count(*) 
    from 
      bow_board
    <where>
      <if test="keyword != null">
        <bind name="pattern1" value="'%' + keyword + '%'"/>
        titl like #{pattern1}
        or conts like #{pattern1}
      </if>
    </where>
  </select>
  
  <!-- 비밀번호 체크 -->
  <select id="findPassword" resultType="int" parameterType="map">
    select
      count(*)
    from 
      bow_board
    where
      board_id = #{no}
      and pwd = password(#{password})
  </select>
  
</mapper>










